<div class="d-flex justify-content-center align-items-center flex-column h-100">
  <div>
    <h1 class="mb-4 ">Registrar acción de mejora</h1>
  </div>
  <div class="">
    <p class="fechaA ">
      {{fecha|date : 'longDate'}}
     </p>
    <p class="lider">Líder:
      {{lider}}
    </p>
  </div>
  <div class="w-75 h-75">
    <form [formGroup]="accionMejoraForm" (ngSubmit)="accionMejora()" >
      <div class="row h-100">
        <div class="col-lg-6 d-flex justify-content-center flex-column">
          <mat-form-field appearance="outline">
            <mat-label class="accion">Acción</mat-label>
            <input   formControlName="accion" type="text" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label class="accion">Actividad</mat-label>
            <input formControlName="actividad" type="text"  matInput>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label class="accion">Responsable</mat-label>
            <input  formControlName="responsable" type="text"  matInput >
          </mat-form-field>
          <mat-form-field appearance="outline" >
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option class="option" value="one">En ejecución</mat-option>
              <mat-option class="option" value="two">Pendiente</mat-option>
              <mat-option class="option" value="tree">Completado</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-6 d-flex   flex-column">
          <mat-form-field  appearance="outline">
            <mat-label class="fechaL">Fecha límite </mat-label>
            <input formControlName="fechaLimite" type="" matInput [matDatepicker]="picker">
            <mat-hint>AAAA/MM/DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="mt-4" appearance="outline">
            <mat-label class="observaciones">Observaciones</mat-label>
            <input  formControlName="observaciones" type="text"  matInput >
            <textarea matInput rows="7" ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-2">
        <button  class="d-inline-block mx-4 btnC" mat-raised-button>Cancelar</button>
        <button class="btnG" mat-raised-button>Guardar</button>
      </div>
    </form>
  </div>
</div>